<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Memo Remainder</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
</head>
<body background="./img/webtreats_stone_3.jpg">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="./js/jquery.tooltip.js/jquery.tooltip.js"></script>

<link rel="stylesheet" type="text/css" href="./js/jquery.tooltip.js/jquery.tooltip.css" />

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Remainder</a>

    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#"><i class="icon-off"></i>Sign in</a></li>
        <div class="btn-group" >
          <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> User</a>
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
            <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
            <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="i"></i> Make admin</a></li>
          </ul>
        </div>
    </ul>

  </div>
</div>
       
        <div class="row">
          
          <div class="span4">
          
            
            <form method="POST" action="/memo">
              <div class="control-group">
                <label class="control-label" for="textarea">Memoを追加する</label>
                <div class="controls">
                  <textarea class="input-xlarge" name="memo" id="textarea" rows="5" cols="320"></textarea>
                </div>
              
              
           <!-- 保存と破棄ボタン   -->
            
              <div class="controls" align="right">
                <button type="submit" class="btn btn-danger"><i class="icon-envelope icon-white" style="margin-top: 1px;"></i>送信</button>
                <button type="reset" class="btn btn-inverse"><i class="icon-remove icon-white" style="margin-top: 1px;"></i>破棄</button>
                <!-- <input type="submit" value="保存"> -->
                <!-- <input type="reset" value="破棄"> -->
              </div>
             </div>
            <hr>
            設定<br>
            複数個をチェックボックスで指定<br>
            <li>Remaindする日程</li>
            <!-- <select name="select" style="width: 30px"> -->
            <!--google map のルート検索の時間指定のところと同じように,一覧から選択できて,かつ,入力できるようにしたい<br>-->

            [%- MACRO SELECT (name, start, end) BLOCK -%]
            
              <select id="[% name %]" name="[% name %]" style="width:50px">
              [%- FOREACH i = [start..end] %]
                <option value="[% i %]">[% i %]</option>
              [%- END %]
              </select>
           [%- END -%]
             週 [% select('weektimes',1,10) %]回<BR>
            LABEL CLASS="CHECKBOX"で囲むと改行されて不便<BR>
            <input type="checkbox" name="days" id="optionscheckbox" value="random">
            ランダム
            <div id="box">
              <input type="checkbox" name="days" id="optionscheckbox" value="monday">
            月曜日
              <input type="checkbox" name="days" id="optionscheckbox" value="tuesday">
            火曜日
              <input type="checkbox" name="days" id="optionscheckbox" value="wensday">
            水曜日
              <input type="checkbox" name="days" id="optionscheckbox" value="thursday">
            木曜日
              <input type="checkbox" name="days" id="optionscheckbox" value="friday">
            金曜日
            <br>
              <input type="checkbox" name="days" id="optionscheckbox" value="saturday">
            土曜日
              <input type="checkbox" name="days" id="optionscheckbox" value="sunday">
            日曜日

            </div>
            <div class="jToolTip_q">
              <font color="#ff0000" >？</font>
              <div class="jToolTip_a">
                1週間のうちランダムにお知らせします。
                
              </div>
            </div>
            <br>
            <br>            
            通知方法：メール,ポップアップ,他？
            <input type="checkbox" id="optionscheckbox" name="notification" value="mail" checked>
            <i class="icon-envelope icon-white" style="margin-top: 1px;"></i>メール
            <!-- <input type="checkbox" id="optionscheckbox" value="popup">
                 ポップアップ
            -->
            <label><input type="checkbox" id="check">Check This!</label>
<div id="box">content is here</div>

            
          </div>

        </div>
        
      </div>
      <script>
        new jQueryCollapse($("#custom-show-hide-example"), {
          open: function() {
            this.slideDown(150);
          },
          close: function() {
            this.slideUp(150);
          }
        });
      </script>
      <script>
        $('#optionscheckbox').click(function() {
        //クリックイベントで要素をトグルさせる
        $("#box").slideToggle(this.checked);
        });
      </script>

       
      <!-- END Custom show and hide -->
          
            </form>
          </div>
          <div class="span3">
            <div align="right">
              <!-- 検索 -->
              <form class="form-search">
                <input type="text" class="input-medium search-query">
                <button type="submit" class="btn">検索</button>
              </form>
    
              <form action="http://www.google.com/search" method="get">
                <input type="hidden" name="hl" value="ja">
                <input type="hidden" name="as_sitesearch" value="サイトのURL">
                <input class="text" type="text" name="q" size="16" value="">
                <input class="button" type="submit" value="Googleでサイト内検索">
              </form>
            </div>

            <h1>aaaaaa</h1>
            [Memo areaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa]<br>
            [Memo areaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa]<br>
            [Memo areaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa]<br>
            [Memo areaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa]<br>
            [Memo area]<br>
            [Memo area]<br>
            [Memo area]<br>
            [Memo area]<br>
            [Memo area]<br>

          </div>
          <div class="span2">
            [% INCLUDE 'setting.tt' %]
            
            
          </div>
        </div>
        </div>
</body>

</html>
